.admin p {
    font-weight: 700;
}

.nav-inicio {
    position: relative;
    left: auto;
    color: #fff;
    text-align: center;
}

.nombre {
    font-size: 1.5em;
}

.col-sm-6 h1 span {
    font-size: 0.5em;
    display: block;
    font-weight: 200;
}

footer.main-footer {
    display: none;
}

.margin {
    margin-left: 20px;
}

.color-rojo {
    color: red;
}

.color-verde {
    color: green;
}

.p-colocar {
    color: white;
}

.p-colocar i {
    padding: 5px;
}

.icono-grande {
    font-size: 3rem;
    color: rgb(78, 78, 199);
}

.contenido-dia {
    display: none;
}

ul.lista-precios {
    list-style: none;
    padding: 0;
    margin: 0;
}

h4.nombre-dia {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fe4918;
}

p.nombre-evento {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

ul.lista-precios li .numero {
    font-size: 30px;
}

.tabla-precio h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #fe4918;
}

.tabla-precio ul {
    list-style: none;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px green;
}

.contenido-dia option {
    font-weight: 500;
    font-size: 17px;
}

.contenido-dia time {
    color: #fe4918;
    font-weight: bold;
    font-size: 17px;
}

.total p {
    text-transform: uppercase;
    font-weight: bold;
}

.total p span {
    color: #fe4918;
    font-size: 17px;
}

.table span.horas {
    color: #fe4918;
}